body {
    width: 1440px;
    margin: 0 auto;
    border: 1px dotted;
}

/* shared styles */
.shared-title {
    font-size: 1.75rem;
    font-weight: bold;
}

.primary-btn {
    border: none;
    padding: 24px 10px;
    width: 196px;
    background-color: #E02C6D;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}


/* individual styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 34px;
}

.navbar li a {
    text-decoration: none;
    color: black;
}

/* hero section styles */
.hero {
    width: 1188px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-inline-size: 582px;
}

.hero-title {
    font-size: 3rem;
}

.hero-descritpion {
    margin: 16px 0;
}

.prebook-btn {
    border-radius: 41px;
}

.hero-images {
    position: relative;
}

.img2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
}

/* hero sponsors styles */
.hero-sponsors {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    width: 1110px;
    margin: 69px auto 100px;
    padding: 34px 61px;
}

.logo {
    display: flex;
    justify-content: space-around;
}

/* collection related style */
.popular-collection {
    max-width: 1047px;
    margin: 0 auto;
    position: relative;
}
.collection-title {
    text-align: center;
    margin-bottom: 30px;
}
.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px 17px;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

.card-price {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
}

.card-title {
    margin-top: 16px;
    margin-bottom: 6px;
}

.card-rating {
    color: #787885;
    margin: 0;
}
.card-description {
    margin: 0;
    color: #787885;
}
.see-more {
    margin-top: 50px;
    color: #E02C6D;
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    bottom: -50px;
    right: 0px;
}



/* responsive design for small device */
@media screen and (max-width: 576px) {
    body {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar ul {
        flex-direction: column;
        text-align-last: center;
        gap: 10px;
        padding: 0;
        font-size: 1.5rem;
        margin: 0;
    }

    .hero {
        width: 100%;
        text-align: center;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .hero-images img {
        width: 80%;

    }

    .hero button {
        margin: 0 auto;
    }

    .hero-sponsors {
        max-width: 275px;
        border: none;
        margin: 50px auto 50px;
    }

    .logo {
        flex-wrap: wrap;
        gap: 10px;
    }
}