body {
    width: 1440px;
    margin: 0 auto;
    border: 1px dotted;
}

/* shared styles */
.shared-title {
    font-size: 28px;
    font-weight: bold;
}


/* individual styles */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 34px;
}
.navbar li a {
    text-decoration: none;
    color: black;
}

/* hero section styles */
.hero {
    border: 1px dotted blue;
    width: 1188px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .hero-content {
    width: 582px;
}